{% extends 'base.html' %}


{% block main %}

<div class="rounded shadow p-3 mt-5">

<h3>Edit {{movie.title}}</h3>
<hr/>
{% if msg %}
<p class="p-4 alert-info">
    {{msg}}

</p>
{% endif %}
        <form action="/edit/{{movie.title}}" method="post">
            <label for="title">Movie Title</label>
            <input type="text" value="{{movie.title}}" name="title"  id="title" class="form-control" />

            <label for="year">Release Year</label>
            <input type="number" value="{{movie.title}}" name="year" id="year" class="form-control" />

            <label for="budget">Budget</label>
            <input type="text" value="{{movie.budget}}" name="budget" id="budget" class="form-control" />

            <label for="cast">cast</label>
            <input
                type="text"
                name="cast"
                id="cast"
                class="form-control"
                placeholder="Who are the main cast. separate with a comma"
            />
            
            <button type="submit" class="btn btn-sm btn-success mt-3">
                <span class="fa fa-save"></span> 
                Update Movie
            </button>

            <a href="/" class="btn btn-sm btn-primary mt-3">
            <span class="fa fa-arrow-left"></span>
            Go back
        </a>
   
    </form>
  </div>
{% endblock %}


